          <li class="nav-item menu-open">
            <a href="javascript:void(0);" class="nav-link">
              <i class="nav-icon fas fa-server"></i>
              <p>
                <del>OVPN-tcp-1194-tap</del>
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            
              <li class="nav-item">
                <a href="service/clientstatus" class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  <p><del><%= l 'OVPN CLIENT status' %></del></p>
                </a>
              </li>

                <li class="nav-item">
                <a href="service/issue" class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  <p><del><%= l 'Generate Boss client' %></del></p>
                </a>
              </li>

              <li class="nav-item">
                <a href="service/reqs" class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  <p><del><%= l 'OVPN REQ files' %></del></p>
                </a>
              </li>

              <li class="nav-item">
                <a href="service/certed" class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  <p><del><%= l 'OVPN CLIENT files' %></del></p>
                </a>
              </li>

              <li class="nav-item">
                <a href="service/clientstatus" class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  <p><del>CN history</del></p>
                </a>
              </li>

            </ul>
          </li>