[Unit]
Description=Carel Mgmt Mojo application
After=network-online.target

[Service]
Type=forking
User=root
PIDFile=/run/mgmt-hypnotoad.pid
ExecStart=/usr/local/bin/hypnotoad /opt/mgmt_service/script/mgmt_service
ExecReload=/usr/local/bin/hypnotoad /opt/mgmt_service/script/mgmt_service
KillMode=process

# hypnotoad run in background has no log
# append works on systemd >= 240
StandardOutput=append:/var/log/mgmt.log
StandardError=append:/var/log/mgmt.log

[Install]
WantedBy=multi-user.target
