[Unit]
Description=Ovpn Mojo application
After=network-online.target

[Service]
Type=forking
User=root
PIDFile=/run/ovpn-mojo-hypnotoad.pid
ExecStart=/usr/local/bin/hypnotoad /opt/ovpn_mojo/script/ovpn_mojo
ExecReload=/usr/local/bin/hypnotoad /opt/ovpn_mojo/script/ovpn_mojo

KillMode=process

# hypnotoad run in background has no log
# append works on systemd >= 240
StandardOutput=append:/var/log/ovpn_mojo.log
StandardError=append:/var/log/ovpn_mojo.log

[Install]
WantedBy=multi-user.target
