{% extends 'base.html' %}

{% block title %}Tap Boss req files list{% endblock %}
{% block content %}

{# Content Wrapper. Contains page content #}
<div class="content-wrapper">

	{# Content Header (Page header) #}
	<div class="content-header">
		<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
			<h1 class="m-0"> Tap boss req file list </h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
			<ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item"><a href="{{ url_for('ovpn.index') }}">Home</a></li>
				<li class="breadcrumb-item active">Main</li>
			</ol>
			</div>
		</div>
		</div>
	</div>
	{#  content-header END #}


	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class=flashes>
		{% for category, message in messages %}
		<div class="text-{{ category }}">{{ message }}</div>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}


    {# Main content #}
			{# Modal #}
			<div class="modal fade" id="tunreqDelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Do you really want to delete this file?
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-danger">Delete Anyway</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reqDelModal">  #}
			{# END Modal #}

 			<div class="card">
              <div class="card-header">
              </div>
              {# /.card-header #}
              <div class="card-body">
                <table id="taptbreqfiles" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>FileName</th>
                    <th>CreatedDate</th>
                    <th>ExpireDate</th>
                    <th>Action</th>
                  </tr>
                  </thead>
     
                  <tfoot>
                    <th>FileName</th>
                    <th>CreatedDate</th>
                    <th>ExpireDate</th>
                    <th>Action</th>
                  </tfoot>
                </table>
              </div> {# /.card-body #}
            </div> {# /.card #}

</div>
{% endblock %}